@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

.dwn{
    text-align: center;
    color: black;
    background-color: #efd13a;
    padding: 7px 0;
}

.dwn p{
    font-size: 13px;
}

.dwn p a{
    color: black;
}

.pg{
    width: 100%;
}

.pg-1{
    height: calc(100vh - 30px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e8e8e8;
    position: relative;
}

.pg-1 .left,.pg-1 .right{
    flex-basis: 40%;
    margin: 0 10px;
}

.pg-1 .right{
    text-align: center;
}

.pg-1 .right img{
    width: 550px;
}

.pg-1 .left .ttp{
    display: block;
}

.pg-1 .left p{
    margin: 20px 0;
    line-height: 32px;
    font-size: 20px;
}

.pg-1 .scrl{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
}

.pg-1 .scrl div{
    height: 35px;
    width: 25px;
    border-radius: 20px;
    border: 1px solid black;
}

.pg-1 .scrl div i{
    animation: ud 1s infinite;
}

@keyframes ud{
    0%{
        transform: translateY(2px);
    }

    50%{
        transform: translateY(10px);
    }

    100%{
        transform: translateY(2px);
    }
}

.pg-2{
    /* background-image: url(../Images/DSC05756.jpg);
    background-size: cover;
    background-position: center; */
    position: relative;
    width: 100%;
    background-color: #0090ff;
}

.pg-2 img{
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.pg-2 div{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(51, 140 ,185,.9);
    padding: 35px 10px;
    color: white;
}

.pg-2 div p{
    margin: 20px auto;
    max-width: 800px;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
}

.pg-2 div h1{
    font-size: 2.7em;
}

.pg-2 div h2{
    font-size: 1.8em;
}

.pg-2 div h2 a{
    color: white;
}

.pg-2 div h1,.pg-2 div h2{
    text-align: center;
    width: 100%;
}

.pg-3,.pg-4{
    position: relative;
    display: flex;
}

.pg-3 .left,.pg-3 .right,
.pg-4 .left,.pg-4 .right{
    padding: 130px 0;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pg-3 .left{
    background-color: #bb3560;
    background-image: url(../Images/dojo_img2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.pg-3 .left img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pg-4 .right{
    color: white;
    background-color: #c3883e;
}

.pg-4 .left{
    padding: 0;
    background-color: #c3883ec4;
    text-align: center;
    align-items: flex-end;
}

.pg-4 .left img{
    height: 500px;
    width: 300px;
}

.pg-3 .right{
    background: linear-gradient(to bottom right, #a692ce 0%, #d09cc9 100%);
}

.pg-3 .right div,
.pg-4 .right div{
    padding: 0 10vw;
}

.pg-3 .right div h1,
.pg-4 .right div h1{
    font-size: 2.3em;
}

.pg-3 .right div p,
.pg-4 .right div p{
    margin: 20px 0;
    font-size: 18px;
    line-height: 35px;
}

.pg-3 .right div a,
.pg-4 .right div a{
    font-size: 25px;
    font-weight: bold;
}

.pg-3 .right div a{
    color: black;
}

.pg-4 .right div a{
    color: white;
}

.section-1{
    padding: 90px 15vw;
    height: 600px;
    background-color: #37e2bb;
    text-align: center;
    position: relative;
}

.section-1 h1{
    font-size: 2.5em;
}

.section-1 p{
    font-size: 20px;
    margin: 18px 0 58px;
    line-height: 35px;
}

.section-1 a{
    font-weight: bolder;
    font-size: 20px;
    color: black;
    background-color: white;
    border-radius: 50px;
    padding: 15px 20px;
}

.section-1 img{
    position: absolute;
    bottom: -15%;
    left: 50%;
    width: 1010px;
    transform: translateX(-50%);
}

.section-2{
    padding: 260px 10px 40px;
    text-align: center;
    width: 400px;
    margin: 0 auto;
}

.section-2 h2{
    color: #0090ff;
}

.section-2 h1{
    font-size: 2.2em;
    margin: 20px 0;
}

.section-2 img.qr{
    margin: 0 0 20px;
    width: 150px;
    height: 150px;
    transition: .1s;
}

.section-2 img.qr:hover{
    transform: scale(1.1);
}

.section-2 .apps{
    display: flex;
    justify-content: center;
    margin-bottom: 125px;
}

.section-2 .apps img{
    margin: 0 8px;
}

.ptc{
    display: flex;
    justify-content: center;
}

.ptc a{
    color: black;
    font-weight: bolder;
    margin: 0 8px;
}

.cp{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
    padding-top: 20px;
    border-top: 1px solid #80808047;
}

.cp p{
    font-weight: bolder;
    font-size: 14px;
}

.cp .icons{
    display: flex;
}

.cp .icons a{
    margin: 0 5px ;
}

.cp .icons a i{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 50%;
}

@media(max-width: 768px){
    .section-1 img{
        width: 500px;
    }

    #scr{
        display: none;
    }

    .pg-1{
        flex-wrap: wrap;
        flex-direction: column-reverse;
        position: relative;
    }

    /* .pg-1 .left,.pg-1 .right{
        flex-basis: 100%;
    } */

    .pg-1 .right img{
        width: 350px;
        margin-top: 30px;
    }

    .pg-1 .left{
        text-align: center;
        margin-top: 100px;
    }

    .pg-1 .left .ttp{
        width: 80px;
        margin: 0 auto;
    }

    .pg-3,.pg-4{
        flex-wrap: wrap;
        text-align: center;
    }

    .pg-4{
        flex-direction: column-reverse;
    }

    .section-1 {
        padding: 90px 10px;
        height: 430px;
    }

    .pg-3 .left,
    .pg-4 .left{
        flex-basis: 100%;
        height: 770px;
        padding: 50px 0;
    }

    .pg-4 .left{
        padding-bottom: 0;
    }

    .pg-3 .right,.pg-4 .right{
        height: 350px;
        flex-basis: 100%;
    }

    .pg-1 .tp{
        height: 100px;
    }

    .cp{
        flex-wrap: wrap;
        text-align: center;
    }

    .cp p,.cp div{
        flex-basis: 100%;
    }

    .cp p{
        margin: 20px 0;
    }

    .cp div{
        justify-content: center;
    }

    .section-1 img{
        bottom: -10%;
    }

    .section-2{
        padding: 200px 10px 40px
    }

    .pg-2 div p,.pg-3 .right div p, .pg-4 .right div p,.section-1 p{
        font-size: 14px;
        line-height: 25px;
        max-width: 100%;
        text-align: center;
    }
}

@media(max-width: 540px){
    .section-2 img.qr{
        display: none;
    }

    .pg-1{
        flex-wrap: nowrap;
    }

    .pg-1 .tp{
        height: 50px;
    }

    .pg-1 .left{
        margin-top: 0;
    }

    .pg-1 .left p{
        font-size: 17px;
    }

    .pg-2{
        background-color: #4bbfd0;
    }

    .pg-2 img{
        height: 950px;
    }

    .pg-2 div{
        background-color: rgba(71, 187 ,203,.9);
    }

    .pg-3 .left, .pg-4 .left{
        height: 370px;
    }

    .pg-4 .left img {
        height: 400px;
        width: 250px;
    }

    .pg-3 .left, .pg-3 .right,.pg-4 .right{
        padding: 55px 0;
    }

    .section-1 a{
        display: none;
    }

    .section-2 .apps{
        margin-bottom: 0;
    }

    .section-2 {
        padding: 100px 10px 40px;
    }
}

@media(max-width: 414px){
    .section-1 img,.pg-1 .right img{
        width: 350px;
    }

    .pg-1 .left p{
        font-size: 13px;
    }

    .section-2 .apps img{
        width: 130px;
    }

    .section-1 img {
        bottom: -5%;
    }

    .section-1 {
        padding: 50px 15px;
        height: 380px;
    }

    .ptc{
        flex-wrap: wrap;
    }

    .ptc a{
        flex-basis: 100%;
        margin: 10px 0;
        text-align: center;
    }

    .pg-3 .right div, .pg-4 .right div{
        padding: 0 5vw;
    }

    .pg-2 div h1,.pg-3 .right div h1, .pg-4 .right div h1,.section-1 h1,.section-2 h1{
        font-size: 2em;
    }
}

@media(max-width: 375px){
    .section-2{
        width: auto;
    }

    .pg-1{
        height: auto;
        padding: 25px 0;
    }

    .pg-1 div .apps{
        display: flex;
        justify-content: center;
    }

    .pg-1 div .apps img{
        width: 130px;
        margin: 0 4px;
    }

    .pg-3 .left img,.pg-4 .left img,.pg-5 .left img{
        width: 250px;    
    }

    .pg-3 .right div, .pg-4 .right div, .pg-5 .right div {
        padding: 0 5vw;
    }

    .section-1 img, .pg-1 .right img{
        width: 320px;
    }
}

@media(max-width: 320px){
    .section-1 img, .pg-1 .right img{
        width: 270px;
    }

    .pg-2 div h1,.pg-3 .right div h1, .pg-4 .right div h1,.section-1 h1,.section-2 h1{
        font-size: 1.7em;
    }

    .section-2 h2{
        font-size: 1.3em;
    }
}

@media(max-width: 280px){
    .section-1 img {
        bottom: -10%;
    }
}