@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.dwn{
    text-align: center;
    color: white;
    background-color: #6D1CEF;
    padding: 7px 0;
}

.dwn p{
    font-size: 13px;
}

.dwn p a{
    color: #FFE713;
}

.pg{
    width: 100%;
}

.pg-1{
    height: calc(100vh - 30px);
    background-color: #6435af;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pg-1 .tp{
    display: none;
}

.pg-1 .left,.pg-1 .right{
    flex-basis: 40%;
    margin: 0 10px;
}

.pg-1 .right{
    text-align: center;
}

.pg-1 .right img{
    width: 650px;
}

.pg-1 .left .ttp{
    display: block;
}

.pg-1 .left p{
    margin: 20px 0;
    line-height: 32px;
    color: white;
    font-size: 20px;
}

.pg-2{
    /* background-image: url(../Images/DSC05756.jpg);
    background-size: cover;
    background-position: center; */
    position: relative;
    width: 100%;
    background-color: #0090ff;
}

.pg-2 img{
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.pg-2 div{
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 144, 255, 0.95);
    padding: 50px 10px;
    color: white;
}

.pg-2 div p{
    margin: 20px auto;
    max-width: 800px;
    font-size: 23px;
    line-height: 30px;
}

.pg-2 div h1{
    font-size: 2.5em;
}

.pg-2 div h2{
    font-size: 1.8em;
}

.pg-2 div h2 a{
    color: #FFE713;
}

.pg-2 div h1,.pg-2 div h2{
    text-align: center;
    width: 100%;
}

.pg-3,.pg-4,.pg-5{
    display: flex;
}

.pg-3 .left,.pg-3 .right,
.pg-4 .left,.pg-4 .right,
.pg-5 .left,.pg-5 .right{
    padding: 30px 0;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pg-3 .left{
    background-color: #ff9b00;
}

.pg-4 .left{
    background-color: #0090ff;
}

.pg-5 .left{
    background-color: #3bc94b;
}

.pg-3 .right,.pg-5 .right{
    background-color: black;
    color: white;
}

.pg-3 .right div,
.pg-4 .right div,
.pg-5 .right div{
    padding: 0 10vw;
}

.pg-3 .right div h1,
.pg-4 .right div h1,
.pg-5 .right div h1{
    font-size: 2.3em;
}

.pg-3 .right div p,
.pg-4 .right div p,
.pg-5 .right div p{
    margin: 20px 0;
    font-size: 18px;
    line-height: 30px;
}

.pg-3 .right div a,
.pg-4 .right div a,
.pg-5 .right div a{
    font-size: 25px;
    font-weight: bold;
}

.pg-3 .right div a{
    color: #ff9b00;
}

.pg-4 .right div a{
    color: #0090ff;
}

.pg-5 .right div a{
    color: #3bc94b;
}

.section-1{
    padding: 90px 10px;
    height: 400px;
    background-color: #FFE351;
    text-align: center;
    position: relative;
}

.section-1 h1{
    font-size: 2.5em;
}

.section-1 p{
    font-size: 20px;
    margin: 18px 0;
}

.section-1 a{
    font-weight: bolder;
    font-size: 23px;
    color: #0090ff;
}

.section-1 img{
    position: absolute;
    bottom: -40%;
    left: 50%;
    width: 1010px;
    transform: translateX(-50%);
}

.section-2{
    padding: 260px 10px 40px;
    text-align: center;
}

.section-2 h2{
    color: #0090ff;
}

.section-2 h1{
    font-size: 2.2em;
    margin: 20px 0;
}

.section-2 img.qr{
    margin: 0 0 20px;
    width: 150px;
    height: 150px;
    transition: .1s;
}

.section-2 img.qr:hover{
    transform: scale(1.1);
}

.section-2 .apps{
    display: flex;
    justify-content: center;
    margin-bottom: 125px;
}

.section-2 .apps img{
    margin: 0 8px;
}

.section-2 .ptc a{
    color: black;
    font-weight: bolder;
    margin: 0 8px;
}

.cp{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
    padding-top: 20px;
    border-top: 1px solid #80808047;
}

.cp p{
    font-weight: bolder;
    font-size: 14px;
}

.cp .icons{
    display: flex;
}

.cp .icons a{
    margin: 0 5px ;
}

.cp .icons a i{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 50%;
}

@media(max-width: 768px){
    .section-1 img{
        width: 320px;
    }

    .pg-1{
        flex-wrap: wrap;
        flex-direction: column-reverse;
        position: relative;
    }

    .pg-1 .tp{
        display: block;
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
    }

    /* .pg-1 .left,.pg-1 .right{
        flex-basis: 100%;
    } */

    .pg-1 .right img{
        width: 350px;
        margin-top: 30px;
    }

    .pg-1 .left{
        text-align: center;
    }

    .pg-1 .left .ttp{
        display: none;
    }

    .pg-3,.pg-4,.pg-5{
        flex-wrap: wrap;
        text-align: center;
    }

    .pg-4{
        flex-direction: column-reverse;
    }

    .pg-3 .left,.pg-3 .right,
    .pg-4 .left,.pg-4 .right,
    .pg-5 .left,.pg-5 .right{
        flex-basis: 100%;
        height: 770px;
    }

    .pg-4 .right{
        padding: 250px 10px;
    }

    .cp{
        flex-wrap: wrap;
        text-align: center;
    }

    .cp p,.cp div{
        flex-basis: 100%;
    }

    .cp p{
        margin: 10px 0;
    }

    .cp div{
        justify-content: center;
    }

    .section-1 img{
        bottom: -10%;
    }

    .section-2{
        padding: 200px 10px 40px
    }

    .pg-2 div p{
        font-size: 13px;
        line-height: 25px;
        max-width: 100%;
        text-align: center;
    }
}

@media(max-width: 540px){
    .pg-1{
        flex-wrap: nowrap;
    }
}

@media(max-width: 375px){
    .pg-1{
        height: auto;
        padding: 25px 0;
    }

    .pg-1 div .apps{
        display: flex;
        justify-content: center;
    }

    .pg-1 div .apps img{
        width: 130px;
        margin: 0 4px;
    }

    .pg-3 .left img,.pg-4 .left img,.pg-5 .left img{
        width: 250px;    
    }

    .pg-3 .right div, .pg-4 .right div, .pg-5 .right div {
        padding: 0 5vw;
    }
}

@media(max-width: 411px){
    .section-1 img,.pg-1 .right img{
        width: 250px;
    }

    .pg-1 .left p{
        font-size: 13px;
    }

    .section-2 .apps img{
        width: 130px;
    }
}